.divPadre {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 270px 100px;
    
    
}



.divHow {
    background-color: red;
    color: white;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.divHamburguesas {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.divEjercicio {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.divCamara {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
}